  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h1 class="card-title fw-bold">
        <%= @restaurant.name %>
      </h1>

      <p class="card-text text-muted mb-4">
        🌍 <%= @restaurant.category %>
      </p>

      <p class="card-text text-muted mb-4">
        📍 <%= @restaurant.address %>
      </p>

      <p class="card-text text-muted mb-4">
        ☎️ <%= @restaurant.phone_number %>
      </p>
      <%= link_to "← Back to restaurants", restaurants_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
