  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h1 class="card-title fw-bold">
        <%= @restaurant.name %>
      </h1>

      <p class="card-text text-muted mb-4">
        🌍 <%= @restaurant.category %>
      </p>

      <p class="card-text text-muted mb-4">
        📍 <%= @restaurant.address %>
      </p>

      <p class="card-text text-muted mb-4">
        ☎️ <%= @restaurant.phone_number %>
      </p>
      <%= link_to "← Back to restaurants", restaurants_path, class: "btn btn-outline-primary" %>
    </div>

    <p><strong>Reviews</strong></p>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item">
          ⭐ <strong><%= review.rating %>/5</strong><br>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
  <br>
<%= link_to "Ecrire un avis", new_restaurant_review_path(@restaurant), class: "btn btn-outline-primary" %>


  </div>
